<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="container">
  <div class="row mt-4">
    <div class="col-md-2 rounded">
      <img src="<%= '/images/' + user.avatar%>" height="130px" width="130px">
    </div>
    <div class="col-md-9">
      <h1 class="display-4">Profile</h1>
      <hr>
      <%- include('../partials/flashMessages') %>
      <h3>
        <% if (user) { %>
        Welcome <%= user.name %>... :)
        <% } %>
        </h3>
      <form action="/user/uploadAvatar" method="POST" enctype="multipart/form-data">
        <input type="file" name="avatar" id="avatar">
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
    </div>
  </div>
</div>
<%- include('../partials/footer') -%>